[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
behave = "*"
nose = "*"
vcrpy = "*"
docker = "*"
pipenv-setup = "*"
pytest = "*"
csvcubed-devtools = "*"
csvw = "*"

[packages]
gssutils = {editable = true, path = "."}
requests = {extras = ["security"],version = "*"}
certifi = "*"
uritemplate = "*"
jinja2 = "*"
backoff = "*"
csvcubed-devtools = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
